/* Resetear estilos predeterminados del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilos para el formulario de carga de archivos */
.upload-section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.custom-file-input {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#file-details {
    text-align: center;
    margin-top: 10px;
}

p {
    color: #333;
}

button#submit-button {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para la tabla de archivos */
.table-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button#update-button {
    display: block;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #337ab7;
    color: #fff;
    text-align: left;
    padding: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Estilos adicionales */
/* Agrega estilos personalizados según tus preferencias */


/* Estilo para mostrar la información del archivo seleccionado */
#file-details {
    display: none;
}
